/* BURGER MENU */

/* .containerBurger {
 border: 1px solid white;
} */


.burgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}


.burgerMenuButton {
  position: relative;
  border: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  z-index: 90;
}


.burgerMenuIcon,
.burgerMenuIcon:before,
.burgerMenuIcon:after {
  position: absolute;
  top: 0;left: 0;
  background-color: #f7d237;
  content: "";
  height: 3px;
  width: 100%;
  border-radius: 50px;
}

.burgerMenuIcon:before {
  top: 10px;
}

.burgerMenuIcon:after {
  top: 20px;
}

.containerDropdownBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 170px;
}

.burgerMenuDropdown {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  color: aquamarine;
  font-size: 24px;
  width: 120px;
  height: auto;
  line-height: 37px;
}

.navBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .burgerMenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .navBurger {
    height: 150px;
  }
  .containerBurger {
    width: 100%;
  }
  .containerDropdown {
    top: 100%;
    right: 0;
    width: 100%;
    
  }
}

/* @media (max-width: 500px) {
  .containerBurger {
    position: relative;
    top: 0;
    right: 0;
  }
} */