/* BURGER MENU */

.containerBurger {
  position: relative;
}
.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.burger-menu-button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  z-index: 100;
}

.burger-menu-icon,
.burger-menu-icon:before,
.burger-menu-icon:after {
  position: absolute;
  display: block;
  background-color: #f7d237;
  content: "";
  height: 2px;
  width: 30px;
  border-radius: 50px;
}

.burger-menu-icon:before {
  top: -8px;
}

.burger-menu-icon:after {
  bottom: -8px;
}

.containerDropdown {
  position: absolute;
  top: 100%;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center; /* à vérifier */
  width: 140px;
  height: 170px;
}

.burger-menu-dropdown {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  color: aquamarine;
  font-size: 24px;
  width: 120px;
  height: auto;
  line-height: 37px;
}

.navBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 800px) {
  .burger-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .navBurger {
    height: 150px;
  }
  .containerBurger {
    width: 100%;
  }
  .containerDropdown {
    top: 100%;
    right: 0;
    width: 100%;
    position: relative;
  }
}

@media (max-width: 500px) {
  .containerBurger {
    position: relative;
    top: 0;
    right: 0;
  }
}
