.containerBurger {
  position: relative;
  width: 100%;
  height: auto;
  display: none;
}
.burgerMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.burgerMenuButton {
  position: relative;
  border: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
  z-index: 90;
}
.burgerMenuIcon,
.burgerMenuIcon:before,
.burgerMenuIcon:after {
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #f7d237;
  content: "";
  height: 3px;
  width: 100%;
  border-radius: 50px;
  transition: transform 0.3s ease;
  transform-origin: center;
}
.burgerMenuIcon:before {
  top: -7px;
  transform: translateY(-50%);
}
.burgerMenuIcon:after {
  top: 10px;
  transform: translateY(-50%);
}
.burgerMenuButton.open .burgerMenuIcon {
  transform:  rotate(-45deg);
}
.burgerMenuButton.open .burgerMenuIcon:after {
 display: none;
}
.burgerMenuButton.open .burgerMenuIcon:before {
  top: 0;
  transform: translateY(0) rotate(-90deg);
}
.containerDropdownBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.burgerMenuDropdown {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  color: aquamarine;
  font-size: 24px;
  width: 120px;
  height: auto;
  line-height: 37px;
}
.navBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 150px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .containerBurger {
    display: block;
  }
}
