/*CURRICULUM-VITAE*/

.bodyCurriculum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  margin-top: 50px;
}

.svgCurriculum {
  margin-top: 20px;
  margin-left: 20px;
  width: 9%;
  min-width: 70px;
  height: auto;
}

.containerCurriculum {
  width: 95%;
  min-height: 100vh;
 margin: 50px auto 0;
}

.blockCurriculum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  height: auto;
}

.containerPdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 260px;
  height: auto;
  border: 1px solid blue;
}

.blockPdf {
  background-color: rgba(117, 107, 133, 0.2);
 padding: 10px;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  
}

.containerBtnCV {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0;
}

.lookCVbtn {
  width: auto;
  height: 30px;
  line-height: 10px;
  font-size: 16px;
  color: aquamarine;
  background-color: rgba(255, 212, 55, 0.2);
  border: 1px solid #ffe062;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.lookCVbtn:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.5);
}

/*TEXT container*/

.hardContainer {
  width: 700px;
  height: auto;
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.1);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.titleSkills,
.titleQuiSuisJe {
  text-align: center;
  color: aquamarine;
}

.liHard,
.liSoft,
.liJeSuis {
  display: inline-block;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.08em;
  word-spacing: 1px;
 overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  color: aquamarine;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  background-color: rgba(0, 0, 0, 0.2);
}

.softContainer {
  width: 250px;
  height: auto;
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.1);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}



.quiSuisJeContainer {
    width: 100%;
    height: auto;
    padding: 10px;
    margin-top: 60px;
    background-color: rgba(127, 255, 212, 0.1);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

 @media  (max-width: 1350px) and (min-width: 801px) {
  .containerTextPdf {
    justify-content: space-evenly;
  } .blockPdf {
    padding: 20px;
    margin: 20px;
  }
   .softContainer,
  .quiSuisJeContainer {
    width: 100%;
    height: auto;
     margin-top: 30px; 
  }.hardContainer {
    width: 100%;
  }.ulSoft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }.softContainer {
    width: 50%; 
  }
  .liSoft {
    width: 100%;
  }
}

@media (max-width: 800px) and (min-width: 320px) {
  .bodyCurriculum {
    margin-top: 0;
  }.containerCurriculum {
    margin-top: 10px;
  }.blockPdf {
    margin-top: 60px;
  }.softContainer {
    margin-top: 50px;
  }
}

@media  (max-width: 827px) {
  .softContainer {
width: 100%;
   }.liHard,
   .liSoft,
   .liJeSuis {
    font-size: 15px;
    text-align: justify;
   }.blockCurriculum {
    width: 85%;
   }.containerPdf {
    width: 100%;
   }
}