/*CURRICULUM-VITAE*/

.containerCurriculum {
  width: 100%;
  min-height: 100vh;
  margin-top: 200px;
}

.blockCurriculum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-bottom: 80px;
  margin-top: 20px;
}

.titleCurriculum {
  font-size: 48px;
  letter-spacing: 0.06em;
  color: aquamarine;
  text-align: start;
  margin-left: 120px;
  padding-top: 30px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-stroke: 0.1vw rgba(127, 255, 212, 0.8);
}

.containerPdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: auto;
  margin-top: 30px;
}

.blockPdf {
  background-color: rgba(117, 107, 133, 0.2);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.containerBtnCV {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.lookCVbtn {
  width: auto;
  height: 30px;
  line-height: 10px;
  font-size: 16px;
  color: aquamarine;
  background-color: rgba(255, 212, 55, 0.2);
  border: 1px solid #ffe062;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.lookCVbtn:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.5);
}

/*TEXT container*/

.containerTextPdf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
  height: auto;
  margin-top: 70px;

}

.hardContainer {
  width: 700px;
  height: auto;
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.1);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.titleSkills,
.titleQuiSuisJe {
  text-align: center;
  color: aquamarine;
}

.liHard,
.liSoft,
.liJeSuis {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.08em;
  word-spacing: 1px;
 overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  color: aquamarine;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  background-color: rgba(0, 0, 0, 0.2);
}

.softContainer {
  width: 250px;
  height: auto;
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.1);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}



.quiSuisJeContainer {
    width: 1290px;
    height: auto;
    padding: 10px;
    margin-top: 20px;
    background-color: rgba(127, 255, 212, 0.1);
    box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
}

@media (max-width: 1350px) {
  .softContainer,
  .quiSuisJeContainer {
    width: 1030px;
    height: auto;
    margin: 20px;
  }
  .ulSoft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  .liSoft {
    width: 30%;
  }
}

@media (max-width: 1170px) {
  .softContainer,
  .quiSuisJeContainer {
    width: 700px;
    margin-top: 10px;
  }
}
