.btnAnchor {
  display: block;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0 20px 120px 0;
  background-color: #fbd437;
  border: 1px solid #00353f;
  box-shadow: 1px 1px 15px rgba(0, 53, 63, 0.3);
  border-radius: 20px;
  cursor: pointer;
  -webkit-animation: animAnchor 0.7s ease-in-out;
  animation: animAnchor 0.7s ease-in-out;
  z-index: 17;
}
@keyframes animAnchor {
  0% {
    opacity: 0;
    background-color: transparent;
  }
  100% {
    opacity: 1;
  }
}

.anchor {
  width: 25px;
  height: auto;
  margin-top: 12px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 53, 63, 0.7));
  filter: drop-shadow(1px 1px 2px rgba(0, 53, 63, 0.7));
  z-index: 1;
}

.textBtnAncre {
  color: #060626;
  font-size: 11px;
}

@media (max-width: 800px) {
  .btnAnchor {
  display: none;
  }
}
