

/*ACCUEIL*/

.bodyAccueil {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.containerAccueil {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.containerTitlePortfolio {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  height: 105px;
  margin: 0 auto;
}

.titlePortfolio {
  width: 100%;
  height: 90px;
  font-size: 60px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #989898;
  -webkit-text-stroke: 0.08vw aquamarine;
  filter: drop-shadow(1px 1px 2px aquamarine);
}

.notranslate {
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  translate: no !important;
}

.responsiveText {
  position: absolute;
  display: block;
  bottom: 0;
  right: 5px;
  font-size: 15px;
  color: aquamarine;
  animation: textresponsive 4.5s ease-in-out;
}
@keyframes textresponsive {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerText {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 250px;
}

.presentation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
}

.presentation-text {
  width: 60%;
  height: auto;
  padding: 40px;
  color: aquamarine;
  font-size: 17px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 1px;
  line-height: 1.5em;
  text-align: justify;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.portrait {
  width: 250px;
  height: 250px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .containerTitlePortfolio {
    margin-top: 50px;
  }
}
@media (max-width: 880px) {
  .containerTitlePortfolio {
    margin-top: 60px;
  }
}

@media (max-width: 955px) {
  .titlePortfolio {
    font-size: 60px;
    height: 75px;
  }
  .containerTitlePortfolio {
    height: 95px;
  }
  .presentation-text {
    width: 90%;
    font-size: 16px;
     padding: 0; 
  }
}

@media (max-width: 750px) {
  .containerTitlePortfolio {
    text-align: center;
    width: 490px;
    height: 75px;
  }
  .titlePortfolio {
    font-size: 40px;
  }
}

@media (max-width: 530px) {
  .containerTitlePortfolio {
    display: none;
  }
  .titlePortfolio {
    display: none;
  }
  .responsiveText {
    display: none;
  }.presentation-text {
    font-size: 14px;
  }
}
