/* HOME PRESENTATION */

.bodyAccueil {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 75vh;
  /* border: 1px solid white; */
}

.containerAccueil {
  width: 95%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
}

.containerTitlePortfolio {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0 auto;
  /* border: 1px solid blue; */
}

.titlePortfolio {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  font-size: 60px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #989898;
  -webkit-text-stroke: 0.08vw aquamarine;
  filter: drop-shadow(1px 1px 2px aquamarine);
}

.notranslate {
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  translate: no !important;
}

.responsiveText {
  position: absolute;
  display: block;
  bottom: 0;
  right: 5px;
  font-size: 15px;
  color: aquamarine;
  animation: textresponsive 1s ease-in-out;
}
@keyframes textresponsive {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerPresentation {
  display: flex;
  justify-content: center;
  width: 95%;
  height: 100%;
  margin: 0 auto;
  /* border: 1px solid beige;  */
}

.presentation {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 100%;
  /* border: 1px solid grey;  */
}

.presentation-text {
  width: 511px;
  height: auto;
  margin: 10px 0;
  color: aquamarine;
  font-size: 15px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 1px;
  line-height: 1.5em;
  text-align: justify;
 
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  /* border: 1px solid white; */
}

.portrait {
  width: 260px;
  height: 260px;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 20px;
}

@media (max-width: 1200px) {
  .presentation-text {
    font-size: 14px;
  }
}

@media (max-width: 955px) {
  .titlePortfolio {
    font-size: 60px;
  }
}

@media (max-width: 800px) {
  .containerTitlePortfolio {
    text-align: center;
  }
  .titlePortfolio {
    font-size: 40px;
  }
  .responsiveText {
    font-size: 12px;
  }
  .portrait {
    width: 240px;
    height: 240px;
  }
  .presentation-text {
    width: 426px;
    margin: 10px;
  }
}

@media (max-width: 530px) {
  .titlePortfolio {
    font-size: 24px;
    filter: none;
  }
  .responsiveText {
    display: none;
  }
  .portrait {
    width: 170px;
    height: 170px;
  }
  .presentation-text {
    width: 250px;
    font-size: 12px;
  }
}
