/* HOME PRESENTATION */

.bodyAccueil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
 
}

.containerAccueil {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-top: 50px; */
 
}

.containerTitlePortfolio {
  position: relative;
  /* top: 200px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: 40%;
  margin: 0 auto;
}

.titlePortfolio {
  width: 100%;
  height: 90px;
  font-size: 60px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #989898;
  -webkit-text-stroke: 0.08vw aquamarine;
  filter: drop-shadow(1px 1px 2px aquamarine);
}

.notranslate {
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  translate: no !important;
}

.responsiveText {
  position: absolute;
  display: block;
  bottom: 0;
  right: 5px;
  font-size: 15px;
  color: aquamarine;
  animation: textresponsive 2s ease-in-out;
}
@keyframes textresponsive {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerPresentation {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
  /* margin-top: 250px; */
}

.presentation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
}

.presentation-text {
  width: 60%;
  height: auto;
  /* padding: 40px; */
  color: aquamarine;
  font-size: 17px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 1px;
  line-height: 1.5em;
  text-align: justify;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.portrait {
  width: 250px;
  height: 250px;
}

@media (max-width: 1200px) {
  .containerTitlePortfolio {
    margin-top: 50px;
  }
}

@media (max-width: 955px) {
  .titlePortfolio {
    font-size: 60px;
  }
  .presentation-text {
    width: 90%;
    font-size: 14px;
     padding: 0;
     border: 1px solid blue; 
  }
}

@media (max-width: 750px) {
   .containerTitlePortfolio {
    text-align: center;
  } 
  .titlePortfolio {
    font-size: 40px;
    height: 65px;
  }
  .responsiveText {
    font-size: 12px;
  }

}

@media (max-width: 530px) {
  .containerTitlePortfolio {
    display: none;
  }
  .containerPresentation {
    height: auto;
  }
  .presentation-text {
    font-size: 12px;
  }
}
