/*FORM CONTACT */

.bodyContact {
  position: relative;
  width: 100%;
  min-height: 85vh;
  margin-top: 150px;
  /* border: 1px solid white;  */
}

.svgContact {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  min-width: 50px;
  height: 12%;
}

/* modale formulaire */
.block_form {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-evenly; */
  width: 680px;
  min-height: 446px;
  max-height: 566px;
  /* font-family: "Playfair Display", serif; */
  letter-spacing: 0.07em;
  padding: 0 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.titleBlockForm {
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  color: aquamarine;
  /* border: 1px solid white;  */
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85%;
  border: 2px solid #fbd437;
  border-radius: 10px;
  /* border: 1px solid blue;  */
}
/**********************************/

/* container formulaire */
.containerInput {
  width: 90%;
  height: auto;
  margin: 0;
  /* border: 1px solid yellow;  */
}

::placeholder {
  font-size: 14px;
  color: rgb(77, 6, 6);
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  opacity: 0.5;
}

.nameContact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 2px solid red;  */
}

.flex_input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  /* border: 1px solid white;  */
}

label {
  margin-bottom: 2px;
  color: aquamarine;
}

.textMaxChars {
  font-size: 14px;
}

/*****input*****/
.first_name,
.last_name,
.user_email {
  width: 100%;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
}
/***************/

.titleTextarea {
  width: 90%;
  margin-top: 10px;
  text-align: center;
}
.textarea {
  display: flex;
  width: 90%;
  min-height: 136px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: aquamarine;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll(Y);
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  /* border: 3px solid violet; */
}

.errors {
  max-width: 210px;
  height: 20px;
  color: #fbd437;
  font-size: 12px;
  /* border: 1px solid pink; */
}

.btn_contact {
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin: 15px auto;
  border-radius: 10px;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
  cursor: pointer;
}

.btn_contact:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.5);
}

/***************************************/
/***************************************/

/*MODAL Confirm*/
.container-modal {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
 
  width: 100%;
  height: 100%;
  /* min-height: 85vh; */
  /* visibility: hidden;
   opacity: 0;
  transform: scale(0.3);
  transition: opacity 0.2s, visibility 0.3s, transform 0.3s; */
}

.container-modal.active {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  border: none;
  z-index: 10;
}

.modalConfirm {
 
  width: 680px;
  min-height: 446px;
  max-height: 566px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2a3b43;
  border-radius: 10px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 110;
}

/***************/
/* Close modal */
.ContainerCloseModal {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 55px;
}

.close {
  position: absolute;
  right: 0;
  margin-right: 50px;
  color: #fbd437;
  font-size: 0.8rem;
}

.btnCloseModal {
  position: absolute;
  right: 10px;
  text-decoration: none;
  /* font-family: "Montserrat", sans-serif; */
  color: #fbd437;
  border: 2px solid rgba(255, 212, 55, 0.4);
  border-radius: 50%;
  padding: 0 8px;
  font-size: 20px;
  opacity: 0.5;
}

.btnCloseModal:hover {
  box-shadow: 0px 0px 1px 2px rgb(255, 212, 55);
  opacity: 1;
}
/* End Close modal */
/********************/

.containerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
 height: 80%;
 background-color: #232f36;
  border: 2px solid #fbd437;
  border-radius: 10px;
}

.imgModal {
  width: 180px;
  height: 180px;
}

.confirmText {
width: 90%;
  text-align: center;
  font-size: 1.3rem;
  /* font-family: "Playfair Display", serif; */
  color: aquamarine;
}

@media (max-width: 800px) {
  .block_form {
    width: 490px;
  }
  .titleBlockForm {
    font-size: 22px;
  }
  .textarea {
    font-size: 14px;
  }
  .btn_contact:hover {
    box-shadow: none;
  }
  .modalConfirm {
    width: 490px;
    height: 484px;
  }
  .confirmText { 
      font-size: 1rem;
    }
  }


@media (max-width: 620px) {
  .block_form {
    width: 350px;
  }
  label,
  .textMaxChars {
    font-size: 11px;
  }
  .first_name,
  .last_name,
  .user_email {
    height: 25px;
    font-size: 12px;
  }
  ::placeholder {
    font-size: 11px;
  }
  .errors {
    font-size: 11px;
  }
  .titleTextarea {
    font-size: 12px;
  }
  .textarea {
    font-size: 12px;
  }
  .modalConfirm {
    width: 100%;
  }
  
}

@media (max-width: 470px) {
  .block_form {
    width: 70%;
  }
  .titleBlockForm {
    font-size: 16px;
  }
  .titleTextarea {
    font-size: 11px;
  }
  .textarea {
    font-size: 11px;
  }
  .btn_contact {
    width: 80px;
    height: 25px;
    font-size: 14px;
  }
  .modalConfirm {
    width: 100%;
    height: 100%;
  }
  .imgModal {
      width: 150px; 
      height: 150px; 
}
}


@media (max-width: 350px) {
  .bodyContact {
    width: 80%;
    margin-left: 5px;
  }
  .block_form {
    width: 100%;
  }
  .confirmText {
    font-size: 0.8rem;
  }
}
