/*FORM CONTACT */

.bodyContact {
  position: relative;
 display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  min-height: 85vh;
  margin-top: 50px;
  border: 1px solid white;
}

.svgContact {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  min-width: 50px;
  height: 12%;
}

/* modale formulaire */
.block_form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 690px;

 min-height: 446px;

  /* font-family: "Playfair Display", serif; */
  letter-spacing: 0.07em;
  padding: 0 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.titleBlockForm {
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 34px;
  text-align: center;
  color: aquamarine;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85%;
  border: 2px solid #fbd437;
  border-radius: 10px;
}
/**********************************/

/* container formulaire */
.containerInput {
  width: 90%;
  height: auto;
  margin: 0;
}

::placeholder {
  font-size: 14px;
  color: rgb(77, 6, 6);
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  opacity: 0.5;
}

input {
  background-color: aquamarine;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
}

.nameContact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

label {
  color: aquamarine;
  margin-bottom: 2px;
}

.first_name,
.last_name {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.user_email {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.textarea {
  display: flex;
  width: 90%;
  min-height: 136px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: aquamarine;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll(Y);
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.errors {
  max-width: 210px;
  height: 20px;
  color: #fbd437;
  font-size: 12px;
  margin: 0;
}

.btn_contact {
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin: 15px auto;
  border-radius: 10px;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
  cursor: pointer;
}

.btn_contact:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.5);
}
/***************************************/

/*MODAL Confirm*/
.container-modal {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 0.2s, visibility 0.3s, transform 0.3s;
  z-index: 200;
}

.container-modal.active {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  border: none;
  z-index: 10;
}

.modalConfirm {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 138px;
  width: 45%;
  min-width: 270px;
  max-width: 680px;
  min-height: 448px;
  background-color: #2f3330;
  border-radius: 10px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 110;
}

.internBorder {
  position: absolute;
  top: 3%;
  width: 95%;
  height: 94%;
  border: 2px solid #fbd437;
  border-radius: 10px;
}

.bgConfirm {
  position: absolute;
  width: 100%;
  min-width: 280px;
  height: 68%;
  min-height: 498px;
  border-radius: 10px;
  object-fit: cover;
  z-index: -1;
}

.ContainerCloseModal {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
  top: 20px;
}

.close {
  position: absolute;
  right: 0;
  margin-right: 60px;
  color: #fbd437;
  font-size: 0.8rem;
}

.btnCloseModal {
  position: absolute;
  right: 20px;
  text-decoration: none;
  /* font-family: "Montserrat", sans-serif; */
  color: #fbd437;
  border: 2px solid rgba(255, 212, 55, 0.4);
  border-radius: 50px;
  padding: 0 7px;
  font-size: 24px;
  opacity: 0.7;
}

.btnCloseModal:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.8);
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
  height: 80%;
}

.imgModal {
  width: 180px;
  height: 162px;
}

.confirmText {
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;
  /* font-family: "Playfair Display", serif; */
  letter-spacing: 0.08em;
  color: aquamarine;
}

/* @media (max-width: 1342px) {
  .modalConfirm {
    height: 497px;
    margin-top: 113px;
  }
} */



@media (max-width: 1200px) and (min-width: 801px) {
  
  .titleBlockForm {
    font-size: 28px;
  }
  .modalConfirm {
    width: 60%;
    height: 448px;
    margin-top: 137px;
  }
}

@media (max-width: 1010px) {
  .modalConfirm {
    margin-top: 118px;
    height: 488px;
  }
}

@media (max-width: 658px) {
  .block_form {
    width: 95%;
  }
  ::placeholder {
    font-size: 11px;
  }
  .modalConfirm {
    margin-top: 135px;
    height: 452px;
  }
  .imgModal {
    width: 140px;
    height: 126px;
  }
  .confirmText {
    font-size: 1rem;
  }
}

@media (max-width: 321px) {
  .svgContact {
    width: 70px;
    height: auto;
  }
} 

@media (max-width: 800px) and (min-width: 300px) {
  .block_form {
    width: 60%;
  }
  .titleBlockForm {
    font-size: 17px;
  }
  .modalConfirm {
    width: 70%;
    height: 448px;
    margin-top: 137px;
  }
  .bodyContact {
    width: 95%;
    margin-top: 30px;
  }
  /* .block_form {
    width: 70%;
  } */
  input,
  .textarea {
    font-size: 10px;
  }
  .btn_contact {
    width: 60px;
    height: 36px;
    font-size: 13px;
  }
  .containerContact {
    width: 88%;
  }
  label {
    font-size: 13px;
  }
  .first_name,
  .last_name,
  .user_email {
    height: 25px;
    font-size: 12px;
  }
  .errors {
    font-size: 10px;
  }
}

 @media (max-width: 660px) {
  .bodyContact {
    width: 85%;
  }
} 

@media (max-width: 565px)  {
  .titleBlockForm {
    font-size: 13px;
  }
  label {
    font-size: 12px;
  }
  
  }

@media (max-width: 299px) {
  .titleBlockForm {
    font-size: 17px;
  }
  .bodyContact {
    width: 87%;
  }
}

/* @media (max-width: 299px) {
  .svgContact {
   display: none;
  }
} */
