/*FORM CONTACT */
.bodyContact {
  position: relative;
  width: 100%;
  height: 85vh;
  margin: 0;
}
.containerContact {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  border: 1px solid blue;
}

.svgContact {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 130px;
  min-width: 50px;
  height: 12%;
}

/* modale formulaire */
.block_form {
  position: absolute; /* Ajoutez cette ligne */
  top: 50%; /* Ajoutez cette ligne */
  left: 50%; /* Ajoutez cette ligne */
  transform: translate(-50%, -50%); /* Ajoutez cette ligne */
  width: 680px;
  /* min-height: 446px;
  max-height: 566px; */
  letter-spacing: 0.07em;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  min-height: 85%;
 margin: 0 auto 20px;
  border: 2px solid #fbd437;
  border-radius: 10px;
  /* border: 1px solid blue;  */
}

.titleBlockForm {
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 30px;
  text-align: center;
  color: aquamarine;
  /* border: 1px solid white;  */
}


/**********************************/

/* container formulaire */
.containerInput {
  width: 90%;
  height: auto;
  margin: 0;
  /* border: 1px solid yellow;  */
}

::placeholder {
  font-size: 14px;
  color: rgb(77, 6, 6);
  opacity: 0.7;
}

.nameContact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* border: 2px solid red;  */
}

.flex_input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  /* border: 1px solid white;  */
}

label {
  margin-bottom: 2px;
  color: aquamarine;
}

/*****input*****/
.first_name,
.last_name,
.user_email {
  width: 100%;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  padding-left: 10px;
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
}
/***************/

.titleTextarea {
  width: 90%;
  margin-top: 10px;
  text-align: center;
}

.textMaxChars {
  font-size: 12px;
}

.textarea {
  display: flex;
  width: 90%;
  min-height: 136px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: aquamarine;
  padding: 10px;
   margin: 5px; 
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll(Y);
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.errors {
  max-width: 210px;
  /* height: 20px; */
  height: auto;
  color: #fbd437;
  font-size: 12px;
  /* border: 1px solid pink; */
}

.btn_contact {
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin: 15px auto;
  border-radius: 10px;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
  cursor: pointer;
}

.btn_contact:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.5);
}

/***************************************/
/***************************************/

/*MODAL Confirm*/
.containerConfirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
   visibility: hidden;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 0.2s, visibility 0.3s, transform 0.3s; 
  opacity: 1;
}

.containerConfirmation.active {
 
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  border: none;
  z-index: 10;
}

.modalConfirmation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 680px;
  height: 100%;
  /* min-height: 470px;
  max-height: 566px; */
  background-color: #2a3b43;
  border-radius: 10px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 110;
}

/***************/
/* Close modal */
.blockCloseModal {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  height: 40px;
}

.closeTitle {
  position: absolute;
  right: 0;
  margin-right: 50px;
  color: #fbd437;
  font-size: 0.8rem;
}

.btnCloseModal {
  position: absolute;
  right: 10px;
  text-decoration: none;
  color: #fbd437;
  border: 2px solid rgba(255, 212, 55, 0.4);
  border-radius: 50%;
  padding: 0 8px;
  font-size: 20px;
  opacity: 0.5;
}

.btnCloseModal:hover {
  box-shadow: 0px 0px 1px 2px rgb(255, 212, 55);
  opacity: 1;
}
/* End Close modal */
/********************/

.blockContentConfirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;
  height: 370px;
  background-color: #232f36;
  border: 2px solid #fbd437;
  border-radius: 10px;
}

.imgModalConfirmation {
  width: 180px;
  height: 180px;
}

.confirmationText {
  width: 90%;
  text-align: center;
  font-size: 1.3rem;
  color: aquamarine;
}

@media (max-width: 800px) {
   /* .block_form {
    width: 490px;
  }  */
  .block_form {
    width: 80%;;
  }
  .titleBlockForm {
    font-size: 22px;
  }
  .textarea {
    font-size: 14px;
  }
  .btn_contact:hover {
    box-shadow: none;
  }
  /* .modalConfirmation {
    width: 100%;
    height: 484px;
  } */
  .btnCloseModal {
    padding: 0 5px;
    font-size: 15px;
  }
  .closeTitle {
    margin-right: 40px;
  }
  .confirmationText {
    font-size: 1rem;
  }
}

@media (max-width: 620px) {
   .block_form {
    width: 350px;
  } 
  label,
  .textMaxChars {
    font-size: 11px;
  }
  .first_name,
  .last_name,
  .user_email {
    height: 25px;
    font-size: 12px;
  }
  ::placeholder {
    font-size: 11px;
  }
  .errors {
    font-size: 11px;
  }
  .titleTextarea {
    font-size: 12px;
  }
  .textarea {
    font-size: 12px;
  }
  /* .modalConfirmation {
    width: 350px;
    height: auto;
  } */
}

@media (max-width: 470px) {
  .block_form {
    width: 70%;
    height: auto;
  }
  .titleBlockForm {
    font-size: 16px;
  }
  .titleTextarea {
    font-size: 11px;
  }
  .textarea {
    font-size: 11px;
  }
  .btn_contact {
    width: 80px;
    height: 25px;
    font-size: 14px;
  }
  /* .modalConfirmation {
    width: 70%;
    height: auto;
  } */
  .imgModal {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 350px) {
  .bodyContact {
    width: 82%;
    margin-left: 5px;
  }
  .block_form {
    width: 100%;
  }
  .confirmationText {
    font-size: 0.8rem;
  }
  /* .modalConfirmation {
    width: 100%;
    height: auto;
  } */
}
