.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
 
  transition: opacity 0.3s ease-in-out;
}

.loading-spinner.show {
  opacity: 1;
}

.spinner {
  position: absolute;
  top: -20px;
  border: 4px solid #27373f;
  border-bottom: 8px solid #3dd235;
  border-top: 8px solid aquamarine;
  border-left: 4px solid #212f36;
  border-radius: 50%;
  width: 90px;
  height: 90px;
  animation: spin 5s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes spin {
  0% {
    transform: rotateY(320deg) scaleX(1);
  }
  30% {
    transform: rotate(2200deg) translateX(200px) translateY(200px) scaleX(1.5);
  }
  90% {
    transform: rotateZ(360deg) scaleX(3);
  }
  100% {
    transform: rotate(360deg) scaleX(1);
  }
}
/* @keyframes spin {
  0% {
    transform: translateY(100%) rotateY(320deg) scale(1);
  }
  30% {
    transform: translateY(-100%) rotate(2200deg) scale(1.5);
  }
  90% {
    transform: translateY(300%) rotateZ(360deg) scale(3);
  }
  100% {
    transform: translateY(100%) rotate(360deg) scale(1);
  }
} */

@media (max-width: 800px) {
  .spinner {
    top: -15px;
    border: 4px solid #27373f;
    border-bottom: 10px solid #3dd235;
    border-top: 10px solid aquamarine;
    border-left: 4px solid #212f36;
    width: 60px;
    height: 60px;
  } 
  @keyframes spin {
    30% {
      transform: rotate(2200deg) translateX(85px) translateY(85px) scaleX(1.5);
    }
  }
}
