/*DROPDOWN NAVIGATION*/

.dropDownBox {
  z-index: 150;
  background-color: transparent;
}
.dropbtn {
  display: flex;
  width: 100%;
  height: 37px;
  align-items: center;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  color: aquamarine;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.dropDownBox:hover .dropbtn,
.dropDownBox:focus .dropbtn,
.dropbtn.active {
  color: #67C2A3;
}

.dropDown_Arrow {
  width: 24px;
  height: 24px;
}

.dropdown-content { 
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  height: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: #2a3b43;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.projetsLink {
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 20px;
  color: aquamarine;
  cursor: pointer;
}

.projetsLink:hover {
  color: #67C2A3;
}


@media (max-width: 990px) {
  .dropbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 13px;
    width: 150px;
    width: auto;
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .dropDown_Arrow {
    width: 20px;
    height: 20px;
  }
 
  .projetsLink {
    display: flex;
    align-items: center;
    width: auto;
    height: 30px;
    font-size: 15px;
  }
  .dropdown-content {
    align-items: center;
    min-width: 118px;
    height: auto;
    padding: 0 6px;
  }
}