/*HEADER*/

.containerHeader {
  position: sticky;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  min-height: 15vh;
  margin: 0 auto;
  transition: opacity 1.2s;
 z-index: 20; 
 /* border: 1px solid white; */
}

.header-visible {
  opacity: 1;
}

.header-hidden {
  opacity: 0;
  visibility: hidden;
}

.logo {
  width: 300px;
  height: 150px;
  margin: 10px 0;
  /* border: 1px solid red; */
}

.containerNavLink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 750px;
  height: 44px;
  /* border: 1px solid blue; */
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 650px;
  height: auto;
  /* border: 1px solid green; */
}

.btnNavBar {
  width: auto;
  height: 37px;
  font-size: 24px;
  color: aquamarine;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.btnNavBar:hover {
  color: #67c2a3;
  text-shadow: 4px 1px 2px rgba(0, 53, 63, 0.4);
}

.btnNavBar.active {
  border-bottom: 2px solid #fbd437;
  border-radius: 7px;
  color: #fbd437 !important;
  opacity: 1 !important;
  text-shadow: 1px 2px 5px #00353f;
  -webkit-text-stroke: 0.01vw #00353f;
}

.linkedInLink {
  position: absolute;
  top: 15px;
  right: 0px;
  border: none;
  width: 30px;
  height: 30px;
  z-index: 21;
  /* border: 1px solid green; */
}

.linkedInImg {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.linkedInImg:hover {
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.7);
}

@media (max-width: 1150px) {
   .containerNavLink {
    width: 100%;
    
  }
}

@media (max-width: 800px) {
  .containerNavLink {
    display: none;
  }
  /* .linkedInLink {
    top: 25px;
  } */
  .btnNavBar {
    display: flex;
    align-items: center;
    font-size: 13px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    width: auto;
    height: 30px;
    padding: 10px;
  }
  .btnNavBar.active {
    background-color: rgba(127, 255, 212, 0.2);
    border-radius: 15px;
    pointer-events: none;
  }
}

@media (max-width: 800px) {
  .containerHeader {
    display: flex;
   justify-content: center;
  }
}

@media (max-width: 530px) {
  .logo {
    width: 280px;
    height: 140px;
   }
  /* .linkedInLink {
    top: 30px;
    right: 40px;
  } */
}

@media (max-width: 300px) {
  .logo {
    width: 260px;
    height: 120px;
  }
}

