/*HEADER*/
.containerHeader {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  height: 20vh;
  transition: opacity 0.2s;
  z-index: 20;
}

.header-visible {
  opacity: 1;
}

.header-hidden {
  opacity: 0;
  visibility: hidden;
}

.containerLogoPortfolio {
  position: absolute;
  top: 0;
  left: 30px;
  width: 25%;
  height: 20vh ;
}

.logo {
   width: 300px;
   height: 150px;
/*  height: 120px;    */
  margin-top: 25px;
  /* margin-left: 30px; */
}

.containerNavLink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;  
  width: 850px;
  height: 20vh;
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 650px;
  height: auto;
}

.btnNavBar {
  width: auto;
  height: 37px;
  font-size: 24px;
  color: aquamarine;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

.btnNavBar:hover {
  color: #67C2A3;
  text-shadow: 4px 1px 2px rgba(0, 53, 63, 0.4);
}

.btnNavBar.active {
  border-bottom: 2px solid #fbd437;
  border-radius: 7px;
  color: #fbd437 !important;
  opacity: 1 !important;
  text-shadow: 1px 2px 5px #00353f;
  -webkit-text-stroke: 0.01vw #00353f;
}

.linkedIn {
  position: fixed;
  top: 54px;
  right: 50px; 
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 500;
}

.linkedIn:hover {
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.5);
}


@media (max-width: 1160px) {
  .containerNavLink {
    width: 100%;
    height: auto;
justify-content: center;
margin-left: 120px;
  }.containerLogoPortfolio {
    width: 100%;
    height: auto;
    left: 0;
  }
}

@media (max-width: 990px) {
  .containerNavLink {
    /* width: 798px; */
    display: none;
  }
  .linkedIn {
    top: 25px;
  }
}

@media (max-width: 525px) {
.linkedIn {
  width: 35px;
  height: 35px;
  right: 40px;
  display: none;
}.logo {
  width: 250px;
height: 125px;
}
}
