/* SIDEBAR SCROLL */

.containerSideBarLink {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 100vh;
  border: 1px solid blue;
}

.containerSideBar {
  width: 35px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  visibility: hidden;
  -webkit-animation: animSideBar 0.7s ease-in-out;
  animation: animSideBar 0.7s ease-in-out;
}
@keyframes animSideBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btnSideBar {
  width: 18px;
  height: 18px;
  border: 2px solid aquamarine;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.activeSide {
  width: 16px;
  height: 16px;
  border: 2px solid #979998;
  background-color: #fbd437;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .containerSideBar {
    visibility: visible;
  }
}
/* @media (max-width: 660px) {
    .containerSideBarLink  {
      width: 15%;
    }
  } */

