/*FOOTER*/
.containerFooter {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 15vh;
}

.copyright {
  text-align: center;
  font-size: 18px;
  color: #fbd437;
  width: 100%;
  line-height: 15vh;
  text-shadow: 1px 2px 5px #00353f;
}

.containerLogoDev {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  height: 110px;
  padding: 0 20px;
}

.logoDev {
  width: 40px;
  height: 40px;
}
