



/*
    --background-color: #fff;
    --error-code-color: var(--google-gray-700);
    --google-blue-100: rgb(210, 227, 252);
    --google-blue-300: rgb(138, 180, 248);
    --google-blue-600: rgb(26, 115, 232);
    --google-blue-700: rgb(25, 103, 210);
    --google-gray-100: rgb(241, 243, 244);
    --google-gray-300: rgb(218, 220, 224);
    --google-gray-500: rgb(154, 160, 166);
    --google-gray-50: rgb(248, 249, 250);
    --google-gray-600: rgb(128, 134, 139);
    --google-gray-700: rgb(95, 99, 104);
    --google-gray-800: rgb(60, 64, 67);
    --google-gray-900: rgb(32, 33, 36);
    --heading-color: var(--google-gray-900);
    --link-color: rgb(88, 88, 88);
    --popup-container-background-color: rgba(0,0,0,.65);
    --primary-button-fill-color-active: var(--google-blue-700);
    --primary-button-fill-color: var(--google-blue-600);
    --primary-button-text-color: #fff;
    --quiet-background-color: rgb(247, 247, 247);
    --secondary-button-border-color: var(--google-gray-500);
    --secondary-button-fill-color: #fff;
    --secondary-button-hover-border-color: var(--google-gray-600);
    --secondary-button-hover-fill-color: var(--google-gray-50);
    --secondary-button-text-color: var(--google-gray-700);
    --small-link-color: var(--google-gray-700);
    --text-color: var(--google-gray-700);
    background: var(--background-color);
    color: var(--text-color);
    word-wrap: break-word;
*/

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #2f3330;
 width: 100%;
 height: auto; 
}


/* FETCH ERROR */
.containerError {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.containerFetchDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
top: 120px;
width: 100%;
height: auto;
}

.error  {
color: red;
border: 1px solid red;
}
.loading {
  color: olive;
  border: 1px solid olive;
}

.loading,
.error {
  position: absolute;
  text-align: center;
  top: 100px;
 width: auto;
 height: auto;
 padding: 10px;
 border-radius: 10px;
  font-size: 32px; 
  font-weight: bold;
 margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1160px) {
  .loading,
.error {
  top: 180px;
  font-size: 28px;
}
}

@media (max-width: 1000px) {
  .loading,
.error {
  top: 180px;
  font-size: 24px;
}
}

@media (max-width: 880px) {
  .loading,
.error {
  top: 180px;
  font-size: 20px;
}
}

@media (max-width: 724px) {
  .loading,
.error {
  top: 160px;
}
}

/*ERROR404*/
/* .btn404 {
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  margin-left: 10%;
  text-decoration: none;
  font-size: 24px;
  color: #ffe062;
  border-radius: 50%;
  padding: 7px 16px;
}
.btn404:hover {
  color: rgba(255, 224, 98, 0.7);
  text-shadow: 1px 2px 5px rgba(6, 6, 38, 0.7);
}
.containerError404 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid;
}

.title404 {
  width: 100%;
  height: 12vh;
  line-height: 25vh;
  font-size: 90px;
  color: #060626;
}

.logoError404 {
  width: 20%;
}

.text404 {
  width: 100%;
  height: 10vh;
  font-size: 36px;
  font-weight: bold;
  color: aquamarine;
} */
