



/*
    --background-color: #fff;
    --error-code-color: var(--google-gray-700);
    --google-blue-100: rgb(210, 227, 252);
    --google-blue-300: rgb(138, 180, 248);
    --google-blue-600: rgb(26, 115, 232);
    --google-blue-700: rgb(25, 103, 210);
    --google-gray-100: rgb(241, 243, 244);
    --google-gray-300: rgb(218, 220, 224);
    --google-gray-500: rgb(154, 160, 166);
    --google-gray-50: rgb(248, 249, 250);
    --google-gray-600: rgb(128, 134, 139);
    --google-gray-700: rgb(95, 99, 104);
    --google-gray-800: rgb(60, 64, 67);
    --google-gray-900: rgb(32, 33, 36);
    --heading-color: var(--google-gray-900);
    --link-color: rgb(88, 88, 88);
    --popup-container-background-color: rgba(0,0,0,.65);
    --primary-button-fill-color-active: var(--google-blue-700);
    --primary-button-fill-color: var(--google-blue-600);
    --primary-button-text-color: #fff;
    --quiet-background-color: rgb(247, 247, 247);
    --secondary-button-border-color: var(--google-gray-500);
    --secondary-button-fill-color: #fff;
    --secondary-button-hover-border-color: var(--google-gray-600);
    --secondary-button-hover-fill-color: var(--google-gray-50);
    --secondary-button-text-color: var(--google-gray-700);
    --small-link-color: var(--google-gray-700);
    --text-color: var(--google-gray-700);
    background: var(--background-color);
    color: var(--text-color);
    word-wrap: break-word;
*/

/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap'); */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #2f3330;
 width: 100%;
 height: auto; 
}


/* FETCH ERROR */
.containerError {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.containerFetchDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
top: 120px;
width: 100%;
height: auto;
}

.error  {
color: red;
border: 1px solid red;
}
.loading {
  color: olive;
  border: 1px solid olive;
}

.loading,
.error {
  position: absolute;
  text-align: center;
  top: 100px;
 width: auto;
 height: auto;
 padding: 10px;
 border-radius: 10px;
  font-size: 32px; 
  font-weight: bold;
 margin-top: 80px;
  background-color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1160px) {
  .loading,
.error {
  top: 180px;
  font-size: 28px;
}
}

@media (max-width: 1000px) {
  .loading,
.error {
  top: 180px;
  font-size: 24px;
}
}

@media (max-width: 880px) {
  .loading,
.error {
  top: 180px;
  font-size: 20px;
}
}

@media (max-width: 724px) {
  .loading,
.error {
  top: 160px;
}
}

/*ERROR404*/
/* .btn404 {
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  margin-left: 10%;
  text-decoration: none;
  font-size: 24px;
  color: #ffe062;
  border-radius: 50%;
  padding: 7px 16px;
}
.btn404:hover {
  color: rgba(255, 224, 98, 0.7);
  text-shadow: 1px 2px 5px rgba(6, 6, 38, 0.7);
}
.containerError404 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
  border: 1px solid;
}

.title404 {
  width: 100%;
  height: 12vh;
  line-height: 25vh;
  font-size: 90px;
  color: #060626;
}

.logoError404 {
  width: 20%;
}

.text404 {
  width: 100%;
  height: 10vh;
  font-size: 36px;
  font-weight: bold;
  color: aquamarine;
} */

/*SCROLL HORIZONTALE */

.progressMainWrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 7px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  z-index: 200;
}

.progressMainStyle {
  height: 7px;
  background-color: #ffe062;
  width: 10%;
}


.anchor {
  width: 25px;
  height: auto;
  margin-top: 12px;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 53, 63, 0.7));
  filter: drop-shadow(1px 1px 2px rgba(0, 53, 63, 0.7));
  z-index: 1;
}

.textBtnAncre {
  color: #060626;
  font-size: 11px;
}

@media (max-width: 800px) {
  .btnAnchor {
    display: none;
  }
}

/* SCROLL SIDEBAR */

.containerSideBarLink {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 100vh;
  z-index: 16;
}

.containerSideBar {
  width: 35px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  visibility: hidden;
  -webkit-animation: animSideBar 0.7s ease-in-out;
  animation: animSideBar 0.7s ease-in-out;
}
@keyframes animSideBar {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btnSideBar {
  width: 18px;
  height: 18px;
  border: 2px solid aquamarine;
  border-radius: 50%;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.activeSide {
  width: 16px;
  height: 16px;
  border: 2px solid #979998;
  background-color: #fbd437;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .containerSideBar {
    visibility: visible;
  }
}

/*HEADER*/
.containerHeader {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  height: 20vh;
  transition: opacity 0.2s;
  z-index: 20;
}

.header-visible {
  opacity: 1;
}

.header-hidden {
  opacity: 0;
  visibility: hidden;
}

.containerLogoPortfolio {
  position: absolute;
  top: 0;
  left: 30px;
  width: 25%;
  height: 20vh;
}

.logo {
  width: 300px;
  height: 150px;
  margin-top: 25px;
}

.containerNavLink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 850px;
  height: 20vh;
}

.containerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 650px;
  height: auto;
}

.btnNavBar {
  width: auto;
  height: 37px;
  font-size: 24px;
  color: aquamarine;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  z-index: 10;
}

.btnNavBar:hover {
  color: #67c2a3;
  text-shadow: 4px 1px 2px rgba(0, 53, 63, 0.4);
}

.btnNavBar.active {
  border-bottom: 2px solid #fbd437;
  border-radius: 7px;
  color: #fbd437 !important;
  opacity: 1 !important;
  text-shadow: 1px 2px 5px #00353f;
  -webkit-text-stroke: 0.01vw #00353f;
}

.linkedInLink {
  position: fixed;
  top: 25px;
  right: 25px;
  border: none;
  width: 45px;
  height: 45px;
}

.linkedIn {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
}

.linkedIn:hover {
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.7);
}

@media (max-width: 1160px) {
  .containerNavLink {
    width: 100%;
    height: auto;
    justify-content: center;
    margin-left: 120px;
  }
  .containerLogoPortfolio {
    width: 100%;
    height: auto;
    
  }
}

@media (max-width: 990px) {
  .containerNavLink {
    /* width: 798px; */
    display: none;
  }
  .linkedInLink {
    top: 25px;
  }
}

@media (max-width: 525px) {
  .logo {
    width: 250px;
    height: 125px;
   }
  .linkedInLink {
    width: 35px;
    height: 35px;
    top: 30px;
    right: 40px;
  }
  .linkedIn {
    width: 35px;
    height: 35px;
  } 
}


@media (max-width: 400px) {
  .containerLogoPortfolio {
    left: 5px;
  }
  .logo {
    width: 200px;
    height: auto;
   }
}

/*DROPDOWN*/

.dropDownBox {
  z-index: 1500;
  background-color: transparent;
}
.dropbtn {
  display: flex;
  width: 100%;
  height: 37px;
  align-items: center;
  margin-bottom: 5px;
  background-color: transparent;
  border: none;
  color: aquamarine;
  font-size: 24px;
  text-decoration: none;
  cursor: pointer;
}

.dropDownBox:hover .dropbtn,
.dropDownBox:focus .dropbtn,
.dropbtn.active {
  color: #67C2A3;
  
}

.dropDown_Arrow {
  width: 24px;
  height: 24px;
}

/* MENU BURGER */

.burger-menu {
  position: relative;
  width: 30px;
  height: 30px;
  margin-right: 63px;
  display: none;
}

.burger-menu-button {
position: absolute;
  display: block;
   border-radius: 20px;
  border: none;
 width: 30px;
 height: 30px;
  background-color: transparent;
  cursor: pointer;
  
}

.burger-menu-icon,
.burger-menu-icon:before,
.burger-menu-icon:after {
  background-color: #f7d237;
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 50px;
}

.burger-menu-icon:before {
  top: -8px;
}

.burger-menu-icon:after {
  bottom: -8px;
}

.burger-menu-dropdown {
  background-color: transparent;
  position: absolute;
  top: 100%;
  right: 30px;
  display: flex;
  justify-content: flex-end;
  color: aquamarine;
  font-size: 24px;
  width: 100;
  height: auto;
  line-height: 37px;
  z-index: 1;
}

.navBurger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.burger-menu-dropdown-header {
  background-color: #2f3330;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

@media (max-width: 990px) {
  .burger-menu {
    display: block;
    margin-right: 32px;
    margin-top: 110px;
  }
  .navBurger {
    height: 175px;
  }
  .btnNavBar {
    display: flex;
    align-items: center;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 7px;
    width: auto;
    height: 30px;
    padding: 10px;
  }
  .btnNavBar.active {
    margin-bottom: 20px;
    background-color: rgba(127, 255, 212, 0.2);
    border-radius: 15px;
    pointer-events: none;
  }
  .dropbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    width: 150px;
    width: auto;
    height: 30px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }
  .dropdown-content {
    align-items: center;
    min-width: 135px;
    height: auto;
    padding: 0 6px;
  }
}



/*FORMULAIRE CONTACT */
.bodyContact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
}

.svgContact {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 10%;
  min-width: 110px;
  height: auto;
}

/* modale formulaire */
.block_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 80px;
  width: 45%;
  min-width: 270px;
  max-width: 680px;
  min-height: 446px;
  /* font-family: "Playfair Display", serif; */
  letter-spacing: 0.07em;
  padding: 0 15px 15px 15px;
  border-radius: 10px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.titleBlockForm {
  width: 100%;
  height: auto;
  padding: 5px;
  font-size: 34px;
  text-align: center;
  color: aquamarine;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85%;
  border: 2px solid #fbd437;
  border-radius: 10px;
}
/**********************************/

/* container formulaire */
.containerInput {
  width: 90%;
  height: auto;
  margin: 0;
}

::placeholder {
  font-size: 14px;
  color: rgb(77, 6, 6);
  /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
  opacity: 0.5;
}

input {
  background-color: aquamarine;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
}

.nameContact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_input {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

label {
  color: aquamarine;
  margin-bottom: 2px;
}

.first_name,
.last_name {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.user_email {
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.textarea {
  display: flex;
  width: 90%;
  min-height: 136px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: aquamarine;
  padding: 10px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: scroll(Y);
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.errors {
  max-width: 210px;
  color: #fbd437;
  font-size: 12px;
  margin: 0;
}

.btn_contact {
  width: 100px;
  height: 30px;
  font-size: 18px;
  font-weight: 500;
  margin: 15px auto;
  border-radius: 10px;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
  cursor: pointer;
}

.btn_contact:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.5);
}
/***************************************/

/*MODAL Confirm*/
.container-modal {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 85vh;
  visibility: hidden;
  opacity: 0;
  transform: scale(0.3);
  transition: opacity 0.2s, visibility 0.3s, transform 0.3s;
  z-index: 200;
}

.container-modal.active {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  border: none;
  z-index: 10;
}

.modalConfirm {
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 138px;
  width: 45%;
  min-width: 270px;
  max-width: 680px;
  min-height: 448px;
  background-color: #2f3330;
  border-radius: 10px;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  z-index: 110;
}

.internBorder {
  position: absolute;
  top: 3%;
  width: 95%;
  height: 94%;
  border: 2px solid #fbd437;
  border-radius: 10px;
}

.bgConfirm {
  position: absolute;
  width: 100%;
  min-width: 280px;
  height: 68%;
  min-height: 498px;
  border-radius: 10px;
  object-fit: cover;
  z-index: -1;
}

.ContainerCloseModal {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 30px;
  top: 20px;
}

.close {
  position: absolute;
  right: 0;
  margin-right: 60px;
  color: #fbd437;
  font-size: 0.8rem;
}

.btnCloseModal {
  position: absolute;
  right: 20px;
  text-decoration: none;
  /* font-family: "Montserrat", sans-serif; */
  color: #fbd437;
  border: 2px solid rgba(255, 212, 55, 0.4);
  border-radius: 50px;
  padding: 0 7px;
  font-size: 24px;
  opacity: 0.7;
}

.btnCloseModal:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.8);
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  width: 100%;
  height: 80%;
}

.imgModal {
  width: 180px;
  height: 162px;
}

.confirmText {
  margin: 20px;
  text-align: center;
  font-size: 1.5rem;
  /* font-family: "Playfair Display", serif; */
  letter-spacing: 0.08em;
  color: aquamarine;
}

@media (max-width: 1342px) {
  .modalConfirm {
    height: 497px;
    margin-top: 113px;
  }
}

@media (max-width: 1200px) and (min-width: 801px) {
  .block_form {
    width: 60%;
  }
  .titleBlockForm {
    font-size: 28px;
  }
  .modalConfirm {
    width: 60%;
    height: 448px;
    margin-top: 137px;
  }
}

@media (max-width: 1010px) {
  .modalConfirm {
    margin-top: 118px;
    height: 488px;
  }
}

@media (max-width: 800px) {
  .titleBlockForm {
    font-size: 24px;
  }
  .modalConfirm {
    width: 70%;
    height: 448px;
    margin-top: 137px;
  }
}

@media (max-width: 658px) {
  .modalConfirm {
    margin-top: 135px;
    height: 452px;
  }
  .imgModal {
    width: 140px;
    height: 126px;
  }
  .confirmText {
    font-size: 1rem;
  }
}

@media (max-width: 800px) and (min-width: 300px) {
  .bodyContact {
    margin-top: 30px;
  }
  .block_form {
    width: 70%;
  }
  input,
  .textarea {
    font-size: 13px;
  }
  .btn_contact {
    width: 80px;
    height: 48px;
    font-size: 14px;
  }
  .containerContact {
    width: 88%;
  }
  label {
    font-size: 14px;
  }
  .first_name,
  .last_name,
  .user_email {
    height: 25px;
  }
  .errors {
    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .titleBlockForm {
    font-size: 19px;
  }
}

@media (max-width: 450px) {
  .titleBlockForm {
    font-size: 18px;
  }
  .bodyContact {
    width: 87%;
  }
}

/*FOOTER*/
.containerFooter {
  position: relative;
  display: flex;
  align-items: center;
  width: 97%;
  height: 15vh;
  margin: 0 auto;
  padding: 15px;
}

.copyright {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #fbd437;
  width: 100%;
  height: 15vh;
  text-shadow: 1px 2px 5px #00353f;
}

.containerLogoDev {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  margin-left: 20px;
  height: 15vh;
}

.logoDev {
  width: 30px;
  height: 30px;
}

@media (max-width: 1200px) {
  .containerFooter {
    width: 100%;
    flex-direction: column;
  }
  .copyright {
    position: relative;
    font-size: 14px;
  }
  .containerLogoDev {
    margin-left: 0;
    width: 60%;
  }
}

@media (max-width: 525px) {
  .containerLogoDev {
    width: 90%;
  }
}



/*ACCUEIL*/

.bodyAccueil {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.containerAccueil {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.containerTitlePortfolio {
  position: relative;
  top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 720px;
  height: 105px;
  margin: 0 auto;
}

.titlePortfolio {
  width: 100%;
  height: 90px;
  font-size: 60px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #989898;
  -webkit-text-stroke: 0.08vw aquamarine;
  filter: drop-shadow(1px 1px 2px aquamarine);
}

.notranslate {
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  translate: no !important;
}

.responsiveText {
  position: absolute;
  display: block;
  bottom: 0;
  right: 5px;
  font-size: 15px;
  color: aquamarine;
  animation: textresponsive 2s ease-in-out;
}
@keyframes textresponsive {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.containerText {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 250px;
}

.presentation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: auto;
}

.presentation-text {
  width: 60%;
  height: auto;
  padding: 40px;
  color: aquamarine;
  font-size: 17px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 1px;
  line-height: 1.5em;
  text-align: justify;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.portrait {
  width: 250px;
  height: 250px;
  padding: 20px;
}

@media (max-width: 1200px) {
  .containerTitlePortfolio {
    margin-top: 50px;
  }
}
@media (max-width: 880px) {
  .containerTitlePortfolio {
    margin-top: 60px;
  }
}

@media (max-width: 955px) {
  .titlePortfolio {
    font-size: 60px;
    height: 75px;
  }
  .containerTitlePortfolio {
    height: 95px;
  }
  .presentation-text {
    width: 90%;
    font-size: 14px;
     padding: 0; 
  }
}

@media (max-width: 750px) {
  .containerTitlePortfolio {
    text-align: center;
    width: 490px;
    height: 75px;
  }
  .titlePortfolio {
    font-size: 40px;
  }
}

@media (max-width: 530px) {
  .containerTitlePortfolio {
    display: none;
  }
  .titlePortfolio {
    display: none;
  }
  .responsiveText {
    display: none;
  }.presentation-text {
    font-size: 12px;
  }
}



/*CURRICULUM-VITAE*/

.bodyCurriculum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  margin-top: 50px;
}

.svgCurriculum {
  margin-top: 20px;
  margin-left: 20px;
  width: 9%;
  min-width: 70px;
  height: 100%;
}

.containerCurriculum {
  width: 95%;
  min-height: 100vh;
  margin: 50px auto 0;
}

.blockCurriculum {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  height: auto;
}

/* CONTENT CURRICULUM */
.hardContainer {
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.1);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.softContainer {
  width: 20%;
  height: auto;
  padding: 10px;
  background-color: rgba(127, 255, 212, 0.1);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.quiSuisJeContainer {
  width: 100%;
  height: auto;
  padding: 10px;
  margin-top: 60px;
  background-color: rgba(127, 255, 212, 0.1);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.titleSkills,
.titleQuiSuisJe {
  text-align: center;
  color: aquamarine;
}

.liHard,
.liSoft,
.liJeSuis {
  display: inline-block;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.08em;
  word-spacing: 1px;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  color: aquamarine;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
  background-color: rgba(0, 0, 0, 0.2);
}

/* PDF */
.containerPdf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  min-width: 262px;
  height: 420px;
  
}

.blockPdf {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 356px;
  background-color: rgba(117, 107, 133, 0.2);
  /* padding: 10px; */
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.imgPdf {
  width: 240px;
  height: 336px;
}

.containerBtnCV {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 60px;
  margin: 0;
}

.lookCVbtn {
  width: auto;
  height: 30px;
  line-height: 10px;
  font-size: 16px;
  color: aquamarine;
  background-color: rgba(255, 212, 55, 0.2);
  border: 1px solid #ffe062;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.lookCVbtn:hover {
  box-shadow: 0px 0px 2px 2px rgba(255, 212, 55, 0.5);
}
/* ******* END PDF ******** */

/* ********** END CONTENT CURRICULUM  ************ */

@media (max-width: 1350px) and (min-width: 801px) {
  .containerTextPdf {
    justify-content: space-evenly;
  }
  .blockPdf {
    margin-top: 29px;
  }
  .softContainer,
  .quiSuisJeContainer {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
  .hardContainer {
    width: 100%;
  }
  .ulSoft {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
  }
  .softContainer {
    width: 50%;
  }
  .liSoft {
    width: 100%;
  }
}

@media (max-width: 800px) and (min-width: 320px) {
  .bodyCurriculum {
    margin-top: 0;
  }
  .hardContainer {
    width: 100%;
  }
  .containerCurriculum {
    margin-top: 10px;
  }
  .blockPdf {
    margin-top: 60px;

  }
  .softContainer {
    margin-top: 50px;
  }
}

@media (max-width: 827px) {
  .softContainer {
    width: 100%;
  }
  .liHard,
  .liSoft,
  .liJeSuis {
    font-size: 12px;
    text-align: justify;
  }
  .blockCurriculum {
    width: 85%;
  }.containerPdf {
    width: auto;
    height: auto;
  }
}



/*PROJETS*/

.bodyProjets {
  width: 100%;
  min-height: 100vh;
  margin-top: 120px;
}

.svgProjets {
  margin-top: 0;
  margin-left: 20px;
  width: 10%;
  min-width: 75px;
  height: 100%;
}

.titleProjets1,
.titleProjets2 {
  width: 100%;
  height: auto;
  color: aquamarine;
  font-size: 38px;
  letter-spacing: 0.06em;
  text-align: end;
  color: #979998;
  -webkit-text-stroke: 0.05vw rgba(127, 255, 212, 0.728);
}

.titleProjets2 {
  margin-top: 80px;
}

.numberProjets {
  font-weight: 300;
}

.containerProjets {
  width: 95%;
  margin: 0 auto;
}

.blockProjets1,
.blockProjets2 {
  width: 90%;
  min-height: 100vh;
}

.blockProjets2 {
  padding-top: 40px;
}

.containerInfoProjets {
  width: 100%;
  height: auto;
  margin-top: 80px;
  background-color: #35463f;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  border: 1px solid aquamarine;
}

.infoProjets1,
.infoProjets2 {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 3px;
  line-height: 1.5em;
  padding: 20px;
  text-align: justify;
  color: aquamarine;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.containerCards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-height: 70vh;
  z-index: 15;
}

.cards {
  width: 300px;
  height: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 370px;
  font-size: 18px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  /* transform: rotateZ(4deg); */
  /* transform: rotate3d(1, 0, 0, 40deg); 
  transition-duration: 0.7s; */
}

.containerCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.coverProjets {
  width: 250px;
  height: 100%;
  padding: 9px;
  object-fit: cover;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.contentCards {
  width: 270px;
  height: 670px;
  padding: 10px;
  text-align: center;
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover .contentCards {
  transform: translateY(190px);
  opacity: 1;
}

.card:hover .coverProjets {
  opacity: 0;
}

.card:hover {
  transform: rotateZ(0deg);
  border: none;
}

.contentCards h2 {
  position: absolute;
  top: -70px;
  right: 10px;
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.logoProjets {
  width: 180px;
  height: 60px;
}

.detailsProjet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 0.75em;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 1px;
  text-align: left;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}

.detailsProjet:hover {
  margin: 0;
  height: 215px;
  border-radius: 10px;
  background-color: #000000;
  z-index: 9;
}

.containerLinks {
  width: 100%;
  height: 60px;
}

.linkProjets {
  position: relative;
  display: inline-block;
  width: 90px;
  padding: 6px;
  margin: 10px 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
}

.linkProjets:hover {
  box-shadow: 0px 0px 2px 1px rgba(255, 212, 55, 0.5);
}

.containerTechnologies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30px;
  padding: 5px;
}

.logoTechno {
  width: 25px;
  height: 20px;
}

.description {
  width: 250px;
  height: 80px;
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 2px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: aquamarine;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .titleProjets1,
  .titleProjets2 {
    text-align: center;
  }
}

@media (max-width: 821px) {
  .cards {
    width: 260px;
    height: 540px;
  }
}

@media (max-width: 800px) and (min-width: 320px) {
  .bodyProjets {
    margin-top: 50px;
  }.btn-Demo {
    display: none;
  }
}

@media (max-width: 660px) {
  .description {
    height: auto;
    font-size: 12px;
  }
  .cards {
    height: 400px;
  }
  .contentCards h2 {
    color: rgba(127, 255, 212, 0.5);
    margin-top: 35px;
  }
  .contentCards {
    height: 700px;
    transform: translateY(0px);
    z-index: 20;
  }
  .linkProjets {
    padding: 4px 10px;
    margin: 10px 5px;
    background-color: rgb(82, 88, 49);
  }
  .containerTechnologies {
    margin: 0;
  }
  .containerCover {
    opacity: 0.8;
  }
  .detailsProjet:hover {
    font-size: 12px;
    padding: 5px;
    height: 195px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 827px) {
  .containerInfoProjets,
  .containerCards {
    width: 93%;
  }
}

@media (max-width: 600px) {
  .infoProjets1,
  .infoProjets2 {
    font-size: 12px;
  }
}
