/*PROJECTS CARDS*/

.bodyProjects {
  width: 100%;
  min-height: 100vh;
  margin-top: 120px;
}

.svgProjects {
  margin-top: 0;
  margin-left: 20px;
  width: 120px;
  min-width: 75px;
  height: 100%;
}

.formationTitleProjects,
.personalTitleProjects {
  width: 100%;
  height: auto;
  color: aquamarine;
  font-size: 38px;
  letter-spacing: 0.06em;
  text-align: end;
  color: #979998;
  -webkit-text-stroke: 0.05vw rgba(127, 255, 212, 0.728);
}

.personalTitleProjects {
  margin-top: 80px;
}

.numberProjects {
  font-weight: 300;
}

.containerProjects {
  width: 95%;
  margin: 0 auto;
}

.formationBlockProjects,
.personalBlockProjects {
  width: 90%;
  min-height: 100vh;
}

.personalBlockProjects {
  padding-top: 40px;
}

.containerInfoProjects {
  width: 100%;
  height: auto;
  margin-top: 80px;
  background-color: rgba(127, 255, 212, 0.2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.formationInfoProjects,
.personalInfoProjects {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 3px;
  line-height: 1.5em;
  padding: 20px;
  text-align: justify;
  color: aquamarine;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.containerCards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  min-height: 70vh;
  z-index: 15;
}

.cards {
  width: 300px;
  height: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 370px;
  margin-bottom: 10px;
  font-size: 18px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  /* transform: rotateZ(4deg); */
  /* transform: rotate3d(1, 0, 0, 40deg); 
  transition-duration: 0.7s; */
}

.containerCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.coverProjects {
  width: 250px;
  height: 100%;
  padding: 9px;
  object-fit: cover;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.contentCards {
  width: 270px;
  height: 670px;
  padding: 10px;
  text-align: center;
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover .contentCards {
  transform: translateY(190px);
  opacity: 1;
}

.card:hover .coverProjects {
  opacity: 0;
}

.card:hover {
  transform: rotateZ(0deg);
  border: none;
}

.position {
  position: absolute;
  top: -70px;
  right: 10px;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.logoProjects {
  width: 180px;
  height: 60px;
}

.detailsProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 0.65em;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 1px;
  text-align: left;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}

.detailsProjects:hover {
  margin: 0;
  height: 215px;
  /* font-size: 0.65em; */
  border-radius: 10px;
  background-color: #000000;
  z-index: 9;
}

.containerLinks {
  width: 100%;
  height: 60px;
}

.linkProjects {
  position: relative;
  display: inline-block;
  width: 90px;
  padding: 3px;
  margin: 6px 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
}

.linkProjects:hover {
  box-shadow: 0px 0px 2px 1px rgba(255, 212, 55, 0.5);
}

.containerTechnologies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30px;
  padding: 5px;
}

.logoTechno {
  width: 25px;
  height: 20px;
}

.description {
  width: 250px;
  height: 80px;
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 2px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: aquamarine;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .formationTitleProjects,
  .personalTitleProjects {
    text-align: center;
  }
}

@media (max-width: 821px) {
  .cards {
    width: 260px;
    height: 540px;
  }[data-aos].animated{
    transform: translateX(0);
  }
}

@media (max-width: 800px) and (min-width: 270px) {
  .bodyProjects {
    margin-top: 50px;
  }.btn-Demo {
    display: none;
  }
}

@media (max-width: 660px) {
  .description {
    width: 90%;
    height: auto;
    font-size: 12px;
  }
  .cards {
    height: 400px;
    margin-top: 25px;   /* à vérifier (en test) */
    
  }.card {          /* à vérifier (en test) */
    width: 90%;
    height: 300px;
    margin-bottom: 10px;
  }.coverProjects {          /* à vérifier (en test) */
    width: 100%;
  }
  .position {
    font-size: 4em;
    top: -60px;
    right: 10px;
    color: rgba(127, 255, 212, 0.5);
    margin-top: 40px;
  }
  .contentCards {
    /* width: 90%; */
    height: 675px;
    transform: translateY(0px);
    z-index: 20;
  }
  .linkProjects {
    padding: 4px 10px;
    margin: 10px 5px;
    background-color: rgb(82, 88, 49);
  }
  .containerTechnologies {
    margin: 0;
  }
  .containerCover {
    opacity: 0.9;
  }
  .detailsProjects:hover {
    font-size: 10.5px;
    padding: 5px;
    height: 195px;
  }
    .formationInfoProjects,
    .personalInfoProjects {
      font-size: 12px;
    }
    .logoProjects {   /* à vérifier */
      width: 120px;
      height: 40px;
    }
}

@media (max-width: 827px) {
  .containerInfoProjects,
  .containerCards {
    width: 93%;
  }
}

/* @media (max-width: 600px) {
  .formationInfoProjects,
  .personalInfoProjects {
    font-size: 12px;
  }
  .logoProjects {  
    width: 120px;
    height: 40px;
  }
} */

@media (max-width: 335px) {
  .formationTitleProjects,
  .personalTitleProjects {
    font-size: 30px;
  }
}
