/*PROJECTS CARDS*/

.bodyProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 110px;
 
}

.svgProjects {
  display: none;
  margin-top: 0;
  margin-left: 20px;
  width: 120px;
  min-width: 75px;
  height: 100%;
}

.containerProjects {
  width: 85%; 
  /* border: 1px solid blue; */
}

.formationBlockProjects,
.personalBlockProjects {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
padding-top: 40px;
}

.personalBlockProjects {
  padding-top: 40px;
}

.formationTitleProjects,
.personalTitleProjects {
  width: 100%;
  height: auto;
  color: aquamarine;
  font-size: 38px;
  letter-spacing: 0.06em;
  text-align: end;
  color: #979998;
  -webkit-text-stroke: 0.05vw rgba(127, 255, 212, 0.728);
}

/* .personalTitleProjects {
  margin-top: 80px;
} */

.numberProjects {
  font-weight: 300;
}

.blockInfoProjects {
  display: flex;
  justify-content: center;
}

.containerInfoProjects {
  width: 95%;
  height: auto;
  margin-top: 80px;
  background-color: rgba(127, 255, 212, 0.2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
   /* border: 1px solid grey;  */
}

.formationInfoProjects,
.personalInfoProjects {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 3px;
  line-height: 1.5em;
  padding: 20px;
  text-align: justify;
  color: aquamarine;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.containerCards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-height: 50vh;
  margin-top: 100px;
  /* border: 1px solid blue; */
}

.cards {
  width: 280px;
  height: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 370px;
  margin-bottom: 10px;
  font-size: 18px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  /* transform: rotateZ(4deg); */
  /* transform: rotate3d(1, 0, 0, 40deg); 
  transition-duration: 0.7s; */
}

.containerCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.coverProjects {
  width: 250px;
  height: 100%;
  padding: 9px;
  object-fit: cover;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.contentCards {
  width: 270px;
  height: 670px;
  padding: 10px;
  text-align: center;
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.card:hover .contentCards {
  transform: translateY(190px);
  opacity: 1;
}

.card:hover .coverProjects {
  opacity: 0;
}

.card:hover {
  transform: rotateZ(0deg);background-color: rgb(39, 55, 63);
  border: none;
}

.position {
  position: absolute;
  top: -70px;
  right: 10px;
  font-size: 6em;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.2;
  z-index: -1;
}

.logoProjects {
  width: 180px;
  height: 60px;
}

.detailsProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 10px;
  font-size: 0.65em;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 1px;
  text-align: left;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}

.detailsProjects:hover {
  margin: 0;
  height: 215px;
  border-radius: 10px;
  background-color: #000000;
  z-index: 9;
}

.containerLinks {
  width: 100%;
  height: 60px;
}

.linkProjects {
  position: relative;
  display: inline-block;
  width: 90px;
  padding: 3px;
  margin: 6px 5px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
}

.linkProjects:hover {
  box-shadow: 0px 0px 2px 1px rgba(255, 212, 55, 0.5);
}

.containerTechnologies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30px;
  padding: 5px;
}

.logoTechno {
  width: 25px;
  height: 20px;
}

.description {
  width: 250px;
  height: 80px;
  font-size: 16px;
  /* font-family: "Lato", sans-serif; */
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 2px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: aquamarine;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1200px) {
  .formationTitleProjects,
  .personalTitleProjects {
    text-align: center;
  }
}

@media (max-width: 827px) {
  .formationInfoProjects,
  .personalInfoProjects {
    font-size: 13px;
  }
  .description {
    width: 80%;
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .bodyProjects {
    width: 92%;
  }
  /* .containerProjects {
    width: 100%;
  } */
  .containerProjects {
    width: 100%;
  }
  .cards {
width: 290px;
height: 360px;
margin-top: 25px;
  }
  /* .cards { 
    width: 250px;
    height: 360px;  
    margin-top: 25px; 
  } */
  .card {       
    width: 80%;
   height: 80%;
    margin-bottom: 10px;
  }
  .containerCover {
    opacity: 0.9;
  }
   .coverProjects {        
    width: 100%;
  } 
  [data-aos].animated{
    transform: translateX(0);
  }
  .contentCards {
    width: 100%;
    height: 655px;
  }
  .position {
    top: -15px;
    font-size: 4rem;
  }
  .logoProjects {
    width: 120px;
    height: 40px;
  }
  .detailsProjects {
    font-size: 11px;
  }
  .btn-Demo {
    display: none;
  }
  .linkProjects:hover {
    box-shadow: none;
  } 
}

@media (max-width: 660px) {

    .formationInfoProjects,
    .personalInfoProjects {
      font-size: 12px;
    }
    .logoProjects { 
      width: 120px;
      height: 40px;
    }
}

@media (max-width: 500px) {
  .formationTitleProjects,
  .personalTitleProjects {
    font-size: 24px;
  }
  .bodyProjects {
width: 85%;
 }
}

@media (max-width: 375px) {
  .formationInfoProjects,
    .personalInfoProjects {
      font-size: 11px;
    }
    .description {
     font-size: 11px;
    }
}

@media (max-width: 279px) {
* {
  display: none;
}
}
