.bodyProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* margin-top: 110px; */
  border: 1px solid blue;
}
.svgProjects {
  display: none;
  width: 120px;
  min-width: 75px;
  height: 100%;
  margin-top: 0;
  margin-left: 20px;
}
.containerFormationProjects,
.containerPersonalProjects {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  border: 1px solid white;
}
.titleFormationProjects,
.titlePersonalProjects {
  width: 100%;
  height: auto; 
  font-size: 38px;
  color: aquamarine;
  letter-spacing: 0.04em;
  text-align: end;
  color: #979998;
  -webkit-text-stroke: 0.05vw rgba(127, 255, 212, 0.728);
}
.numberFormationProjects,
.numberPersonalProjects {
  font-size: 26px;
  font-weight: 300;
}
.blockInfoProjects {
  width: 100%;
  height: auto;
  margin-top: 80px;
  background-color: rgba(127, 255, 212, 0.2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}
.infoFormationProjects,
.infoPersonalProjects { 
   font-size: 15px;
  font-weight: 600;
  color: aquamarine;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  padding: 5px;
  word-spacing: 1px;
  text-align: justify;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}
.containerFormationCards,
.containerPersonalCards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
gap: 75px;
  width: 100%;
  min-height: 50vh;
  margin-top: 100px;
}
.blockFormationCard,
.blockPersonalCard {
  position: relative; 
   display: flex;
  flex-direction: column;
 
  
   width: 258px; 
  height: auto;
  
 border: 1px solid blue;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 345px;
  font-size: 18px;
  margin-bottom: 10px; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  backdrop-filter: blur(3px);
  transition: 1.5s;
  z-index: 20;
}
.card:hover {
  background-color: rgb(39, 55, 63);
  border: none;
  /* animation-fill-mode: forwards; */
}
.coverProjects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0.7; 
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.card:hover .coverProjects {
  opacity: 0;
}
.contentCards {
  position: relative;
  width: 93%;
  height: 690px;
  text-align: center;
  transform: translateY(0);
  opacity: 0;
  transition-duration: 0.5s;
  cursor: pointer;
}
.card:hover .contentCards {
  transform: translateY(190px);
  opacity: 1;
}

.position {
  position: absolute;
  top: -45px;
  right: 0;
  font-size: 5.5em;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
z-index: -1;
}
.logoProjects {
  width: 150px;
  height: 50px;

}
.detailsProjects {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px; 
  font-size: 12px;
  font-weight: 600; 
   color: aquamarine; 
  padding: 5px 10px;
   word-spacing: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  text-align: justify;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}
.detailsProjects:hover {
  height: 215px;
   margin: 0;
  border-radius: 10px;
  color: aquamarine;
  background-color: rgba(45, 35, 54, 0.9);
}
.containerLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60px;
}
.linkProjects {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 30px;
  line-height: 28px; 
  font-size: 15px;
  font-weight: 500; 
  color: aquamarine;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(255, 212, 55, 0.2);
  border: 1px solid #fbd437;
}
.linkProjects:hover {
  box-shadow: 0 0 2px 1px rgba(255, 212, 55, 0.5);
}
.containerTechnologies { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.technologiesProjects {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30px;
  padding: 5px;
}
.logoTechnologies {
  width: 25px;
  height: 20px;
}
.titleProject { 
   display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 80px;
  font-size: 1em;
  font-weight: 600;
  color: aquamarine;
  text-align: center;
  padding: 0 5px;
  letter-spacing: 0.07em; 
  word-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  z-index: 10;
}
.card:hover + .titleProject {
border: 1px solid aquamarine;
  color: #fbd437;
   /* transition-duration: 1s; */
  /* transition-delay: 0.5s;  */
  /* animation-fill-mode: forwards; */
}

/*responsive*/

@media (max-width: 1200px) {
  .titleFormationProjects,
  .titlePersonalProjects {
    text-align: center;
  }
}
/* @media (max-width: 827px) {
  .infoFormationProjects,
  .infoPersonalProjects {
    font-size: 13px;
  }
  .titleProject {
    font-size: 12px;
  }
} */
@media (max-width: 800px) {
  .bodyProjects {
    width: 92%;
    margin-left: 5px;
  }
  .containerFormationProjects {
    width: 100%;
  }
  .infoFormationProjects,
  .infoPersonalProjects {
    font-size: 13px;
  }
  .titleProject {
    font-size: 12px;
  }
  .btnDemo {
    display: none;
  }
  .linkProjects:hover {
    box-shadow: none;
  }
}
@media (max-width: 660px) {
  .bodyProjects {
    width: 80%;
  }
  .infoFormationProjects,
  .infoPersonalProjects {
    font-size: 12px;
  }
}

@media (max-width: 500px) { 
  .titleFormationProjects,
  .titlePersonalProjects {
    font-size: 24px;
  }
  .blockFormationCard {
    min-width: 175px;
  }
  .card {
    min-width: 175px;
  }
}
@media (max-width: 380px) {
  .detailsProjects:hover {
    position: relative;
    height: 200px;
    margin-top: -50px;
    font-size: 10px;
  }
  .position {
    top: 10px;
  }
   .logoProjects {
width: 105px;
height: 35px;
margin-top: 11%;
  } 
}