/*PROJETS*/

.bodyProjets {
  position: relative;
  width: 100%;
  min-height: 100vh;
   margin-top: 100px; 
}

.svgProjets {
  position: absolute;
  top: 0;
  left: 20px;
  width: 10%;
  min-width: 110px;
  height: auto;
}

.containerProjets1,
.containerProjets2 {
  width: 94%;
  min-height: 100vh;
  margin: 0 auto;
}

.containerProjets1 {
  padding-top: 130px;
}

.titleProjets {
  color: aquamarine;
  font-size: 38px;
  letter-spacing: 0.06em;
  text-align: end;
  margin-right: 120px;
  padding-top: 30px;
  color: #979998;
  -webkit-text-stroke: 0.05vw rgba(127, 255, 212, 0.728);
}

.numberProjets {
  font-weight: 300;
}

.infoProjetsContainer {
  width: 85%;
  height: auto;
  margin: 80px auto 0;
  background-color: #35463F;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.infoProjets1,
.infoProjets2 {
  border-radius: 10px;
   background-color: rgba(0, 0, 0, 0.2); 
   box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 3px;
  line-height: 1.5em;
  padding: 20px;
  text-align: justify;
  color: aquamarine;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
}

.containerCards {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  height: auto;
  margin: 0 auto;
  z-index: 100;
}

.cards {
  width: 280px;
  height: 500px;
  margin: 15px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.containerCards .card {
  position: relative;
  width: 280px;
  height: 400px;
  margin: 10px;
  font-size: 18px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(3px);
  /* transform: rotateZ(4deg); */
  transform: rotate3d(1, 0, 0, 40deg);
  transition-duration: 0.7s;
}

.containerCards .card .contentCards {
  width: 280px;
  height: 700px;
  padding: 10px;
  text-align: center;
  transform: translateY(0px);
  opacity: 0;
  transition: 0.5s;
  cursor: pointer;
}

.containerCards .card:hover .contentCards {
  transform: translateY(190px);
  opacity: 1;
}

.containerCards .card:hover .coverProjets {
  opacity: 0;
}

.card:hover {
  transform: rotateZ(0deg);
  border: none;
}

.containerCards .card .contentCards h2 {
  position: absolute;
  top: -70px;
  right: 10px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

.containerLinks {
  width: 100%;
  height: 60px;
}

.containerCards .contentCards .linkProjets {
  position: relative;
  display: inline-block;
  width: 110px;
  padding: 8px 20px;
  margin: 15px 5px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 500;
  background-color: rgba(255, 212, 55, 0.2);
  color: aquamarine;
  border: 1px solid #fbd437;
}

.linkProjets:hover {
  box-shadow: 0px 0px 2px 1px rgba(255, 212, 55, 0.5);
}

.contentCards h2 {
  position: absolute;
  top: 120px;
  right: 10px;
  font-size: 6em;
  color: rgba(127, 255, 212, 0.1);
  pointer-events: none;
}

.contentCards h3 {
  font-size: 1.8em;
  color: aquamarine;
  z-index: 1;
}

.detailsProjet {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 100px;
  padding: 10px;
  font-size: 0.8em;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 2px;
  text-justify: auto;
  text-align: left;
  color: aquamarine;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: hidden;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto -moz-hyphens;
  
  transition: 0.7s;
  transition-timing-function: ease-in-out;
}

.detailsProjet:hover {
  width: 260px;
  height: 215px;
  border-radius: 10px;
  background-color: #000000;
  z-index: 10;
}

.containerCover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: contrast(90%);
}

.coverProjets {
  width: 280px;
  height: 100%;
  padding: 9px;
  object-fit: cover;
  border-radius: 20px;
  transition-duration: 0.5s;
}

.logoProjets {
  width: 200px;
  height: 60px;
  /* filter: invert(0.2); */
  padding: 0 10px;
}

.containerTechnologies {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.technologies {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: auto;
  padding: 3px;
}

.logoTechno {
  width: 40%;
  height: auto;
}

.description {
  width: 280px;
  height: 100px;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  letter-spacing: 0.07em;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: aquamarine;
  border-radius: 10px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
